<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articulo Detalle</title>
</head>
<body>

    <p>C.U.I.T.: <i>{{ object.cuit }} </i></p>
    <p>RAZON SOCIAL: <i>{{ object.razonsocial }} </i></p>
    <p>DOMICILIO: <i></i>{{ object.domicilio }}</i> </p>
    <p>CONTACTO: <i></i>{{ object.contacto }} </i></p>
    <p>USUARIO HABILITADO: <i></i>{{object.usuario}}</i> </p>


    <p>
        <a href="{% url 'clienteList' %}">Regresar</a>
    </p>

</body>
</html>