{% extends 'appcoder/padre.html' %}
{% load static %}

{% block ContenidoqCambia %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Inicie Sesion</h1>


                </div>
            </div>
        </div>
    </div>
</header>

<h3>Por favor inicie sesion</h3>
<body>
    {{mensaje}}

    <form action="" method="POST">

        {% csrf_token %}

        {{form.as_p}}

        <button type="submit"> Iniciar Sesión</button>


    </form>


    
</body>
{% endblock ContenidoqCambia %}
