{% extends 'appcoder/padre.html' %}
{% load static %}

{% block ContenidoqCambia %}
<body>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">PEDIDOS</h1>


                    </div>
                </div>
            </div>
        </div>
    </header>

    <h3>Pedidos</h3> 
    <H1>Se genero correctamente el pedido con el numero {{obj}}  </H1>
    
    <td><button><a href='{% url "pedidos" %}'>volver</a></button></td>
    
</body>

{% endblock ContenidoqCambia %}
