{% extends 'appcoder/padre.html' %}
{% load static %}

{% block ContenidoqCambia %}
<body>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5" style="margin-top: -150px;">PEDIDOS</h1>


                    </div>
                </div>
            </div>
        </div>
    </header>

    {% if articulo %}
        <H1>Se agrego correctamente el pedido con el articulo {{articulo}}  </H1>
    {% endif %}
       
   {% if pedidos_temp %}
    <h3 style="margin: 5px;">Pedidos Abiertos</h3> 
    <form action="/AppCoder/cierrapedido/" method="POST">{% csrf_token %}
    <input type="Submit" value= "Cerrar Pedido" class="btn btn-sm btn-success">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha    </th>
                <th>Código Articulo    </th>
                <th>Decripción    </th>
                <th>Cantidad</th>
           </tr>
        </thead>
        <tbody>
            
                {% for f  in pedidos_temp  %}
                <tr>
                        <td>{{f.fecha}}</td>
                        {% for d  in articulos %}
                            {% if f.idarticulo_id == d.id %}
                                <td>{{d.Codigo}}</td>
                                <td>{{d.descripcion}}</td>
                            {% endif %}    
                        {% endfor %}
                        
                        {% if not user.is_superuser  %}
                            <td>
                                <input type='hidden' id="codigoPedido_temp" name='codigoPedido_temp[]' value={{f.id}}>
                                <input type="text" id="cantidad" name="cantidad[]" value={{f.cantidad}}>
                                
                            </td>
                            
                        {% endif %}
                    </tr>
                {% endfor %}
    </tbody>

        
    </table>
</form>
{% endif %}
    <hr>
    <h3>Pedidos Cerrados</h3> 
    <table class="table">
        <thead>
            <tr>    
                <th>Nro Pedido    </th>
                <th>Fecha    </th>
                <th>Cliente    </th>
                <th>Entregado    </th>
           </tr>
        </thead>
        <tbody>
            {% if pedidos %}
        
                {% for f  in pedidos  %}
                    <tr>
                    {% if f.cerrado %}
                        <td>{{f.id}}</td>
                    {% else %}
                        <td></td>
                    {% endif %} 
                    <td>{{f.fecha}}</td>
                    
                    
                    {% if user.is_superuser %}
                        {% for c  in cliente %}
                            {% if c.id == f.idcliente  %}
                                <td>{{c.razonsocial}}</td>

                            {% endif %}    
                        {% endfor %}   
                    {% endif%}     
                    <td>{{f.cantidad}}</td>
                    {% if f.entregado %}
                        <td>"Entregado"</td>
                    {% else %}
                        <td>"Pendiente"</td>
                    {% endif %}
                    <td> <td><button><a href='{% url "consultapedido" f.id %}' class="btn btn-sm btn-primary" style="color:#000;">Consultar Pedido</a></button></td></td>
                    {% endfor %}
                    </tr>
            {% else %}
                <tr><td colspan="4" style="text-align: center;">
                    <h6>No hay pedidos cerrados</h6 >
                </td></tr>
            {% endif %}    
        </tbody>
    </table>
</body>

{% endblock ContenidoqCambia %}
