{% extends 'appcoder/padre.html' %}
{% load static %}

{% block ContenidoqCambia %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5"style="margin-top: 100px;">Registro de usuario</h1>


                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-section" id="contact">
    <div class="container-fluid">
        <div class="text-center text-white">
<h2>Registro</h2>

<body>
    <h3> Recuerde que el presente registro finalizara luego de que la empresa verifique autenticidad y sea asignado a la correspondiente razon social.</h3>
<br>
<br>
    <form action="" method="POST">

        {% csrf_token %}

        {{form.as_p}}

        <button type="submit"> Registrate!!!!</button>


    </form>

</section>
    
</body>
{% endblock ContenidoqCambia %}
